[id^="easy-token-editor-"] {
    --left-width: 200px;

    height: calc(var(--preview-size) * 2);
    width: calc(var(--left-width) + var(--preview-size) * 3);

    .window-content {
        position: relative;
        flex-direction: row;
        padding: 0;

        .left-menu {
            flex: 0 0 var(--left-width);
            width: var(--left-width);
            border-right: 1px solid var(--color-border);
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .header {
                font-size: 1.1em;
                background: var(--color-header-background);
                border-bottom: 1px solid var(--color-border);
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .masks {
                display: flex;
                flex-direction: column;
                gap: 0.3rem;
            }

            .mask {
                margin-inline: 0.2rem;
                padding: 0.2rem 0.5rem;
                box-shadow: inset 0 0 5px 0 var(--color-fieldset-border);
                display: grid;
                grid-template-columns: auto 1fr;
                align-items: center;
                column-gap: 0.5em;

                input {
                    height: 1.5em;
                }
            }

            .extras {
                display: flex;
                flex-direction: column;
                gap: 0.2rem;
                padding: 0.3rem;

                button,
                select {
                    height: 2em;
                    width: 100%;
                }

                button {
                    margin-top: 2px;
                }
            }
        }

        .canvas {
            width: calc(var(--preview-size) * 3);
            flex: 0 0 calc(var(--preview-size) * 3);
        }

        .warning {
            position: absolute;
            top: 10px;
            left: var(--left-width);
            width: calc(2 * var(--preview-size));
            text-align: center;
        }

        .menu {
            position: absolute;
            pointer-events: none;
            top: 0;
            right: calc(var(--preview-size) / 2);
            height: calc(100% - var(--preview-size));
            width: var(--preview-size);
            transform: translateX(50%);
            padding: 0.3rem 1rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-left: 1px solid var(--color-border);

            button {
                width: 100%;
                pointer-events: all;

                input {
                    display: none;
                }
            }
        }

        .color-pickers {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 0.5rem;
        }

        .color-picker {
            position: relative;

            input {
                pointer-events: all;
                width: 100%;
                height: 4em;
            }

            label {
                position: absolute;
                inset: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #000;
                text-shadow:
                    0 0 3px #ffffff,
                    0 0 3px #ffffff;
                font-weight: bold;
            }
        }

        .preview {
            position: absolute;
            bottom: 0;
            right: 0;
            height: var(--preview-size);
            width: var(--preview-size);
            border: 1px solid var(--color-border);
            border-right-color: transparent;
            border-bottom-color: transparent;

            .ring-cycle {
                position: absolute;
                bottom: 0;
                font-size: 1.8em;
                opacity: 0.2;
            }

            .ring-cycle {
                right: 0.3rem;
                display: flex;
                align-items: center;
                gap: 0.3rem;
            }

            &:hover {
                .ring-cycle {
                    opacity: 1;
                }
            }
        }
    }

    &:not(.use-popout) {
        .mask {
            opacity: 0.3;

            input {
                pointer-events: none;
            }
        }
    }
}
